.PF-progress.circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    min-width: 3em;
    width: 3rem;
    min-height: 3rem;
    height: 3em;
    color: rgb(var(--PF-color-primary, 33, 150, 243));
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}

.PF-progress.circular::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
.PF-progress.circular:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: PF-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .PF-progress.circular:indeterminate {
    animation: none;
}

.PF-progress.circular:indeterminate::before,
.PF-progress.circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: PF-progress-circular-pseudo 0.75s infinite linear alternate;
}

.PF-progress.circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: PF-progress-circular-pseudo 0.75s infinite linear alternate;
}

.PF-progress.circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes PF-progress-circular {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes PF-progress-circular-pseudo {
    0% {
        transform: rotate(-30deg);
    }
    29.4% {
        border-left-color: transparent;
    }
    29.41% {
        border-left-color: currentColor;
    }
    64.7% {
        border-bottom-color: transparent;
    }
    64.71% {
        border-bottom-color: currentColor;
    }
    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}













































.PF-progress.linear {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 0.25em;
    color: rgb(var(--PF-color-primary, 33, 150, 243));
    background-color: rgba(var(--PF-color-primary, 33, 150, 243), 0.12);
    font-size: 16px;
  width:100%;
}

.PF-progress.linear::-webkit-progress-bar {
    background-color: transparent;
}

/* Determinate */
.PF-progress.linear::-webkit-progress-value {
    background-color: currentColor;
    transition: all 0.2s;
}

.PF-progress.linear::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
}

.PF-progress.linear::-ms-fill {
    border: none;
    background-color: currentColor;
    transition: all 0.2s;
}

/* Indeterminate */
.PF-progress.linear:indeterminate {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 71.5%, currentColor 71.5%, currentColor 84%, transparent 84%);
    animation: PF-progress-linear 2s infinite linear;
}

.PF-progress.linear:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

.PF-progress.linear:indeterminate::-ms-fill {
    animation-name: none;
}

@keyframes PF-progress-linear {
    0% {
        background-size: 200% 100%;
        background-position: left -31.25% top 0%;
    }
    50% {
        background-size: 800% 100%;
        background-position: left -49% top 0%;
    }
    100% {
        background-size: 400% 100%;
        background-position: left -102% top 0%;
    }
}