body:not(.PF-dark) .internal_container {
      background-image: url(//img.dumdarac.com/backgrounds/city_banner_background.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

.internal_container {
	/*background: rgb(var(--PF-color-surface));*/
	/*max-width: 80%;*/
	margin: auto;
	margin-right: 0;
	width: 100%;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	height: 100%;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 4em
}

.internal_container .PF-progress.linear.loading {
	display: none
}

.internal_container .overlay {
    height: 100%;
    width: 100%;
    background: rgb(var(--PF-color-surface), .5);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    z-index: -1;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border-radius: 1.5em;
}

.internal_container .overlay.show {
	z-index: 1;
	opacity: 1
}

.box_container {
	max-width: 450px;
	margin: auto;
	position: relative;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	/*margin-left: 1rem;*/
	overflow: hidden;
	width: 100%
}

.box_container .box {
	width: 100%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: block;
	margin: 0 auto;
	/*min-height: 500px;*/
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	text-align: left
}

.box_container .box .processSteps {
	display: none
}

.box_container .box .content {
	height: auto;
	padding: 1em;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	display: none
}

.box_container .box .content.nopadding {
	margin: 0 -40px
}

.box_container .box .content.contentleft {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%)
}

.box_container .box .content.contentright {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%)
}

.box_container .box .content.hided {
	display: none
}

.box_container .box .content .logo_container {
	width: 100%
}

.box_container .box .content .logo_container .logo {
	margin: 0;
	overflow: visible;
	position: relative;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(//dumdarac.com/imgs/logo/logo.svg)
}

.box_container .box .content .presentation {
	margin: .5rem auto .2rem
}

.box_container .box .content .presentation h1 {
	margin: 0 auto 10px;
	font-size: 2.4rem;
	font-weight: 600;
}

.box_container .box .content .presentation h1 * {
	font-size: 2.4rem;
	font-weight: 600;
}

.box_container .box .content .presentation>p {
	font-size: 18px;
	padding-bottom: 0;
	opacity: .7;
	max-width: 350px
}

.box_container .box .content .presentation>p * {
	font-size: 18px;
}

.box_container .box .content .block {
	display: inline-block;
	font-size: 14px;
	padding: 24px 0 0;
	-webkit-transblock: translateZ(0);
	transblock: translateZ(0);
	vertical-align: top;
	white-space: normal;
	width: 100%
}

.box_container .box .content .block>p {
	color: #5f6368;
	font-size: 16px;
	padding-bottom: .5em;
	padding-top: 9px
}

.box_container .box .content .block>p * {
	font-size: 16px;
}

.box_container .box .content .block>a {
	border-radius: 4px;
	display: inline-block;
	font-weight: 500;
	letter-spacing: .25px;
	border: 0;
	cursor: pointer;
	font-size: inherit;
	outline: 0;
	padding: 0;
	text-align: left;
	padding-bottom: 3px;
	padding-top: 9px;
	color: rgb(var(--PF-color-primary))
}

@media (max-width:45em) {
	.internal_container {
		max-width: 100%;
		width: 100%
	}
	.box_container {
		border-radius: 0;
		margin: auto
	}
	.box_container .box {
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
}