.feed-multisource {
	max-width: calc(500px + 1em);
	width: 100%;
	margin: .5em auto
}

.feed-multisource>.new-post-smallform {
	padding: .5em;
	display: flex;
	align-items: center;
	border-radius: 1em;
	opacity: 0;
	animation-name: block-up;
	animation-duration: .8s;
	animation-fill-mode: forwards;
	background-color: rgb(var(--PF-color-surface));
	width: 100%;
	max-width: calc(100vw - 1em);
	margin: auto;
}

.feed-multisource>.new-post-smallform>p {
	padding: .5em;
	text-align: left;
	flex: 1 auto;
	font-size: 1.2em
}

.feed-multisource>.blocks>.block {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 0;
	margin-top: .5em;
	position: relative;
	opacity: 0;
	animation-name: block-up;
	animation-duration: .8s;
	animation-fill-mode: forwards
}

.feed-multisource>.blocks>.block:empty {
	display: none
}

.feed-multisource>.blocks>.block>.card {
	width: 100%;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: .5em;
	flex: 1 auto
}

@media (min-width:600px) {
	.feed-multisource>.blocks>.block>.card:not(.flex):nth-child(-n+4) {
		width: 50%
	}
}

.feed-multisource>.blocks>.block:first-child>.card:not(.flex):first-child {
	width: 100%
}

.feed-multisource>.blocks>.block>.card>.content {
	padding: .5em;
	display: flex;
	flex-direction: column;
	flex: 1 auto
}

.feed-multisource>.blocks>.block>.card>.content>.PF-image {
	width: 100%;
	height: 10em;
	border-radius: 1em
}

.feed-multisource>.blocks>.block>.card>.content>.data {
	display: flex;
	flex-direction: column;
	flex: 1 auto
}

@media (max-width:35em) {
	.feed-multisource>.blocks>.block>.card>.content>.data {
		padding: .5em
	}
}

.feed-multisource>.blocks>.block>.card>.content>.data>.container {
	margin: 2px 0;
    position: relative;
    overflow: hidden;
}

.feed-multisource>.blocks>.block>.card:not(.flex)>.content>.PF-image + .data>.container:first-child {
	margin-top: .5rem;
}

.feed-multisource>.blocks>.block>.card>.content>.data>.container.text {
	flex: 1;
	margin: 0;
}

.feed-multisource>.blocks>.block>.card>.content>.data>.container>span {
	font-size: 14px;
	word-break: break-word;
	display: inline;
	white-space: pre-wrap;
}

.feed-multisource>.blocks>.block>.card>.content>.data>.container>h1 {
	font-size: 20px;
	line-height: 1.5em;
	word-break: break-word;
	display: inline;
	white-space: pre-wrap;
}

.feed-multisource>.blocks>.block>.card>.content>.data>.container>p {
    font-size: 1em;
    line-height: 1.7;
    word-break: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
}

.feed-multisource>.blocks>.block>.card>.content>.data>.container.text:after {
    content: ' ';
    background-image: linear-gradient(transparent, rgb(var(--PF-color-background)) 70%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 2em;
}

.feed-multisource>.blocks>.block>.card.flex>.content>.data>:first-child {
	padding-top: 0
}

.feed-multisource>.blocks>.block>.card>.content>.link {
	display: flex;
	flex-direction: row;
	border-radius: 1em;
	overflow: hidden
}

.feed-multisource>.blocks>.block>.card>.content>.link>.PF-image {
	max-width: 10em
}

.feed-multisource>.blocks>.block>.card>.content>.link>.info {
	padding: 1em;
	flex: 1 auto
}

.feed-multisource>.blocks>.block>.card>.content>.link>.info>h1 {
	font-size: 1.4em
}

.feed-multisource>.blocks>.block>.card>.content>.link>.info>p {
	font-size: 1em
}

.feed-multisource>.blocks>.block>.card>.footer {
	padding: .5em;
	display: flex;
	align-items: center
}

.feed-multisource>.blocks>.block>.card>.footer>.PF-icon {
	color: rgb(var(--PF-color-on-surface), .6)
}

.feed-multisource>.blocks>.block>.card>.footer>.space {
	flex: 1
}

.feed-multisource>.blocks>.block>.card>.footer>.container>span {
	color: #616161
}

.feed-multisource>.blocks>.block .card+.card:before,
.feed-multisource>.blocks>.block+.block:before {
	position: absolute;
	top: -.5em;
	right: 0;
	bottom: auto;
	left: 0;
	z-index: 1;
	display: block;
	height: 1px;
	background: #e8eaed;
	width: calc(100% - 1em);
	margin: auto
}

.feed-multisource>.blocks>.block>.card.flex>.content {
	flex-direction: row-reverse
}

.feed-multisource>.blocks>.block>.card.flex>.content>.PF-image {
	flex: 1;
	min-width: 10em;
	width: 10em
}

.feed-multisource>.blocks>.block>.card.flex>.content>.data {
	padding-right: 1em
}

.feed-multisource>.blocks>.block>.fullcoverage {
	width: calc(100% - 1em);
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: .5em;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
	overflow: hidden;
	margin: .5em
}

.feed-multisource>.blocks>.block>.fullcoverage>.content {
	width: 100%;
	height: 15em;
	background: rgb(var(--PF-color-primary, 33, 150, 243), .2);
	display: flex;
	flex-direction: column
}

.feed-multisource>.blocks>.block>.fullcoverage>.content>.pages {
	flex: 1
}

.feed-multisource>.blocks>.block>.fullcoverage>.content>.progress-container {
	display: flex;
	flex-direction: row;
	padding: .5em;
	cursor: pointer
}

.feed-multisource>.blocks>.block>.fullcoverage>.content>.progress-container .PF-progress {
	flex-grow: 1;
	border-radius: 1em;
	margin: 0 2px;
	display: flex
}

.feed-multisource>.blocks>.block>.fullcoverage>.button {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	padding: 1em;
	cursor: pointer
}

.post {
	max-width: calc(500px + 1em);
	width: 100%;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: .5em;
	background-color: rgb(var(--PF-color-surface));
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .03), 0 1px 3px 1px rgba(0, 0, 0, .08)
}

.post>.container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.post>.container>.content>.post {
	margin: .5rem;
	width: calc(100% - 1rem);
	border: solid 1px rgba(var(--PF-color-on-surface), .1);
	box-shadow: none;
}

.post>.container>.replies>.post {
	margin: .5rem;
	width: calc(100% - 1rem);
	box-shadow: none;
	flex-direction: row;
	margin-top: 0;
}

.post>.container>.replies>.post>.top {
	display: flex;
}

.post>.container>.replies>.post>.top>.data {
	align-items: initial;
	flex-direction: column;
}

.post>.container>.replies>.post>.container>.content>.text>* {
	border: solid 1px rgba(var(--PF-color-on-surface), .1);
	border-radius: 1.5em;
	font-size: 1rem;
}

.post>.container>.replies>.post>.top>.data>*:not(.PF-avatar):not(.menu-icon) {
	display: none;
}

.post>.container>.replies>.post>.top>.data>.PF-avatar {
	margin-right: 0;
	position: sticky;
	top: calc(64px + .5rem);
	left: 0;
}

.post>.container>.replies>.post>.container>.bottom>[reactionsdd] {
	margin: 0;
}

.post>.container>.replies>.post>.container>.bottom>[reactionsdd]>.PF-chip.empty {
	display: none;
}

.post .post>.container>.bottom>.bar {
	width: auto;
	width: fit-content;
	border: none;
}

.post .post>.container>.bottom>.bar>li {
	padding: 0;
}

.post .post>.container>.bottom>.bar>li>div>i {
	font-size: 1.2rem;
}

.post .post>.container>.bottom>.bar>li>div>span {
	display: none;
}

.post>.top>.data {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 100%;
	padding: .5rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.post>.top>.data>.PF-avatar {
	margin: 0;
	margin-right: .5em;
	min-width: 38px;
	min-height: 38px;
	width: 38px;
	height: 38px
}

.post>.top>.data>.info {
	flex: 1 auto
}

.post>.top>.data>.info>h1 {
	font-weight: 400;
	margin-right: .5rem;
	font-size: 1rem
}

.post>.top>.data>.info>p {
	font-weight: 400;
	margin-right: .5rem;
	color: #616770;
	font-size: .8rem
}

.post>.container>.content>.text {
	padding: .5rem;
	display: flex;
	flex-direction: column;
}

.post>.container>.content>.text>* {
	white-space: pre-wrap;
	padding: .5rem;
	width: fit-content;
}

.post>.container>.content>.link {
	margin: .5rem;
	position: relative;
	width: calc(100% - 1rem);
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	overflow: hidden;
	background: rgba(var(--PF-color-surface));
	color: rgb(var(--PF-color-on-surface));
}

.post>.container>.content>.link.flex {
	flex-direction: row;
}

.post>.container>.content>.link>.PF-image {
	height: 12em;
	background-color: rgba(var(--PF-color-primary), .5);
}

.post>.container>.content>.link.flex>.PF-image {
	min-width: 28%;
	flex: 1;
	height: initial;
}

.post>.container>.content>.link>.data {
	padding: .5rem;
}

.post>.container>.content>.link>.data>.source {
	padding: .5rem;
	padding-bottom: 0;
	opacity: .5;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-word;
	text-transform: uppercase;
	font-size: 14px;
}

.post>.container>.content>.link>.data>h1 {
	margin: .5rem;
	font-size: 22px;
	font-weight: 900;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-word
}

.post>.container>.content>.link>.data>p {
	margin: .5rem;
	font-size: 1rem;
	opacity: .6;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-word
}

.post>.container>.content>.link>.data>h1+p {
	margin-top: 0;
}

.post>.container>.content>.link.flex>.data>p {
	display: none;
}

.post>.container>.content>.photos {
	display: flex;
	flex-direction: row;
	border-radius: 1em;
	margin: 0;
	width: 100%;
}

.post>.container>.content>.photos>.PF-image {
	overflow: hidden;
	cursor: pointer
}


/*.post>.container>.bottom {
	border-bottom: solid 1px rgba(var(--PF-color-on-surface), .1);
	width: 100%;
}*/

.post>.container>.bottom>.bar {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-top: solid 1px rgba(var(--PF-color-on-surface), .1);
	border-left: none;
	border-right: none;
	user-select: none;
}

.post>.container>.bottom>.bar>li {
	flex: 1;
	padding: .5rem;
}

.post>.container>.bottom>.bar>li>div {
	align-items: center;
	color: rgba(var(--PF-color-on-surface), .6);
	display: flex;
	font-weight: 600;
	justify-content: center;
	line-height: 14px;
	padding: 0 2px;
	position: relative;
	text-decoration: none;
	margin: auto;
	width: fit-content;
	cursor: pointer;
}

.post>.container>.bottom>.bar>li>div>i,
.post>.container>.bottom>.bar>li>div>span {
	padding: .5rem;
}

.post>.container>.bottom>.data {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 100%;
	padding: .5rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.post>.container>.bottom>.data>.space {
	flex: 1 auto
}

.post>.container>.bottom>.data>.PF-avatar {
	margin: 0;
	margin-right: .5em
}

.post>.container>.replies {
	flex-direction: column-reverse;
	display: flex;
}

@keyframes block-up {
	0% {
		opacity: 0
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}

.feed-multisource>.feed-card {
	width: 100%;
	display: none;
	border-radius: 1em;
	overflow: hidden;
	max-width: calc(100vw - 1rem);
	margin: auto;
	margin-top: .5em;
	background-color: rgb(var(--PF-color-surface));
}

.feed-multisource>.feed-card.loading-content {
	display: block;
}

.feed-multisource>.feed-card>.cover {
	width: 100%;
	height: 10em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.feed-multisource>.feed-card>.head {
	padding: 1rem;
	text-align: center;
}

.feed-multisource>.feed-card>.cover + .head {
	padding-top: 0;
}

.feed-multisource>.feed-card>.head>h1 {
	padding: .5rem;
	padding-bottom: 0;
	font-size: 2rem;
}

@keyframes loading-feed {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.feed-multisource>.blocks>.block.loading>.card>.content>.data>.container *,
.feed-multisource>.blocks>.block.loading>.card.flex>.content>.PF-image,
.feed-multisource>.blocks>.block.loading>.card>.footer>.container>span {
	animation-duration: 1.7s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: loading-feed;
	animation-timing-function: linear;
	background: rgba(var(--PF-color-on-surface), .1)!important;
	background-size: 400% 400%;
	color: transparent;
}

@media (max-width: 40em) {
	.post>.container>.photos>.PF-image {
		border: solid 1px #ddd;
		border-radius: 1em;
		margin: .5rem;
	}
}