.glance {
	width: calc(100% - 1rem);
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0;
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	margin: 0;
	margin-top: 0.5rem;
	padding: 0.5rem 0;
	width: 100%;
	min-height: fit-content;
}

.glance .container {
	width: 100%;
	margin: auto;
	text-align: center;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	flex: 1 auto;
	flex-direction: column;
	min-height: fit-content;
}

.glance .container h1,
.glance .container h1 * {
	font-size: 1.6rem;
	margin: 0.5em auto;
	font-weight: 600;
	margin-bottom: 0;
	padding-top: 0.5rem;
}

.glance .container h1 span.color {
	color: rgb(var(--PF-color-surface));
}

.glance .container .down {
    font-size: 1em;
    font-weight: 600;
    color: rgba(var(--PF-color-on-surface), .7);
    text-align: left;
    margin: 0.5em auto;
    margin-top: .2rem;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.glance .container .down:empty {
	display: none;
}

.glance .container .down p {
	white-space: nowrap;
    display: flex;
    align-items: center;
}

.glance .container .down p span {
	font-weight: 500;
}

.glance .container .down p:not(:first-child):before {
    content: ' ';
    border-left: 1px solid rgba(var(--PF-color-on-surface), .15);
    height: 1.5rem;
    margin: auto;
    margin-left: .5rem;
}

.glance .down .weather-icon {
	background-size: contain;
    background-position: center;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
}