  /*CARD*/
    @-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.clear {
  clear: both;
}

.posts {
	text-align: center;
	max-width: 500px;
	margin:0 auto;
	width:100%;
	}

  
.posts .post {
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
    vertical-align: middle;
    padding: 12px;
    background: #FFF;
    margin-bottom: 12px;
    animation-name: zoomInUp;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    text-align: left;
    position: relative;
    transition: 0.5s;
    border-radius: 1em;
}

.posts .post .post_bg {
width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.55);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
	display:none;
}

.posts .post.hashtag {
	display:inline-flex;
	align-items:center;
}

.posts .post.hashtag h1 {
	flex:1;
}

.posts .post.flotante {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    max-width: 500px;
    overflow: auto;
    max-height: 90%;
    display: inline-table;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.19), 0 6px 3px 0 rgba(0,0,0,.23);
}

.posts .post.flotante.verimagen {
	position:fixed;
	display:block;
	max-width:90%;
}
  
  .posts .post.irse {
  animation-name: fadeOut;
}

.posts .post.irseup {
  animation-name: zoomOutUp;
}
  
.posts .post .content .body .postContent .text a {
  color: #3b5998;
  font-weight:900;
  text-decoration: none;
	word-break: break-word;
	cursor:pointer;
}

.posts .post a.important {
  font-weight: bold;
}
.posts .post .topNotif {
  padding-bottom: 9px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
  color: #9197a3;
	display:none;
}
.posts .post .content {
  padding-bottom: 9px;
}
.posts .post .content .head {
  margin-bottom: 0.5rem;
    display: inline-flex;
    width: 100%;
}
.posts .post .content .head .info {
    display: inline-flex;
	  align-items:center;
    width: 100%;
}
.posts .post .content .head .profPic {
  min-width: 40px;
  height: 40px;
  display: block;
  background-color: white;
  border-radius:50px;
  background-size:cover;
  background-position:center;
	background-repeat:no-repeat;
	border:solid 1px #ddd;
}
.posts .post .content .head .topic {
  margin-left: 12px;
  display: inline-block;
  vertical-align: middle;
  width:100%;
}
.posts .post .content .head .topic .name {
  font-size: 14px;
  font-weight: bold;
}
.posts .post .content .head .topic .name a {
  
}
.posts .post .content .head .topic .postData {
  color: #9197a3;
	display:inline-flex;
	align-items:center;
  
}
.posts .post .content .head .topic .postData i {
	font-size:12px;
	margin:auto;
	margin-left:2px;
}
.posts .post .content .head .postMenu {
  text-align: right;
  vertical-align: top;
	position:relative;
	display:inline-flex;
	align-items:center;
}

.posts .post .content .head .postMenu i {
  cursor:pointer;
	color:#afafaf;
	margin:auto;
  margin-top:0;
}

.posts .post .content .head .postMenu .menupost {
    position: absolute;
    right: 0rem;
    top: 0;
    background: white;
    padding: 0rem;
    border-radius: 1em;
    min-width: 10rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
    text-align: left;
    z-index: 99;
    border-radius: 1em;
    overflow: hidden;
}

.posts .post .content .head .postMenu .menupost li {
    padding: 0.8rem;
    font-size: 12px;
    transition: 0.5s;
    font-weight: 100;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.posts .post .content .head .postMenu .menupost li i {
    font-size: 1rem;
    margin: auto;
    padding-right: 0.5rem;
    color: black;
}

.posts .post .content .head .postMenu .menupost li span {
    flex: 1;
    font-weight: 900;
}

.posts .post .content .head .postMenu .menupost a {
	color:black;
}

.posts .post .content .head .postMenu .menupost hr {
    border: none;
    border-bottom: solid 1px #eee;
	margin:0rem;
}

.posts .post .content .head .postMenu .menupost li:hover {
    background-color: #eee;
    cursor: pointer;
}

.posts .post .content .head .postMenu .icon {
  vertical-align: top;
}

.posts .post .content .head .postMenu .icon i {
    font-size: 1.2rem;
    color: #9E9E9E;
    padding: 0.5rem;
}
  
  .posts .post .content .body .postContent {
		position:relative;
		transition:0.5s;
		height:initial;
  }

.posts .post .content .body .postContent .text {
	margin: 1rem 0;
	word-break: break-word;
	/*white-space:pre-wrap;*/
	font-size: 14px;
	clear: both;
}

.posts .post.codepost .text {
    font-size: 12px!important;
    color: white;
    
    background: #333;
    border-radius: 0;
    padding: 1rem;
    margin: 0.5rem -12px!important;
}

.posts .post.articlepost:not(.vermas) .content .body .postContent .text {
	overflow:hidden;
	height:15rem;
	position:relative;
	margin-bottom:0;
}

.posts .post.articlepost:not(.vermas) .postContent .text::before {
	content: ' ';
	width:100%;
	height:100%;
	position:absolute;
	bottom:0;
	left:0;
	box-shadow: inset 0px -10rem 6rem -5rem white;
}

.posts .post.articlepost:not(.vermas) .content .body .postContent .vermasbutton {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 1em;
    z-index: 9;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.posts .post.articlepost:not(.vermas) .content .body .postContent .vermasbutton span {
    margin: auto;
    border-radius: 1em;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    background: #3f51b5;
	  background:-webkit-linear-gradient(top left, #E91E63, #2196F3);
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    font-weight:bold;
    
}
  
.posts .post .content .body .postContent .text.bigtext, .posts .post .content .body .postContent .text.bigtext * {
    font-size: 23px;
    margin: 0;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

.posts .post .content .body .postContent .text b {
	font-weight:900;
	font-family: 'Open Sans Regular', 'Open Sans', 'DumDarac Emojis', sans-serif;
}

.posts .post .content .body .postContent iframe {
    width: 100%;
    height: 15rem;
    border: none;
    margin: -12px;
    margin-bottom: 0;
    margin-top: 1rem;
}

.posts .post .content .body .postContent .link, .form_nuevap .window .link {
    background: white;
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 1.2em;
    display: inline-block;
    overflow: hidden;
    color: #263238;
	  text-align:left;
  overflow:hidden;
}

.posts .post .content .body .postContent .link.flex, .form_nuevap .window .link {
	display:flex;
}

.posts .post .content .body .postContent .link .imagen_link, .form_nuevap .window .link .imagen_link {
    background-color: #263238;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.posts .post .content .body .postContent .link.flex .imagen_link, .form_nuevap .window .link .imagen_link {
	height:100%;
	max-height:10rem;
  border-radius:1em;
}

.posts .post .content .body .postContent .link.flex  .imagen_link, .form_nuevap .window .link .imagen_link {
	height:initial;
  max-height:none;
}

.posts .post .content .body .postContent .link .imagen_link img, .form_nuevap .window .link .imagen_link img {
	width:100%;
	max-height:20rem;
	height:auto;
	opacity:0;
}

.posts .post .content .body .postContent .link .info_link, .form_nuevap .window .link .info_link {
    padding:0.5rem;
}

.posts .post .content .body .postContent .link .info_link h1, .form_nuevap .window .link .info_link h1 {
    font-size: 18px;
    padding: 0.5rem;
    padding-bottom: 0;
    width: 100%;
    
}

.posts .post .content .body .postContent .link .info_link p, .form_nuevap .window .link .info_link p {
    font-size: 14px;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    
    font-weight: 100;
}
  
.posts .post .content .body .postContent .media {
	border: solid 1px #ddd;
	border-radius: 1.5em;
	overflow: hidden;
  /*margin:0 -12px;*/
  }

.posts .post.posttiporepost .content .body .postContent .media {
    border: none;
    margin: 0 -12px;
}

.posts .post .content .body .postContent .media .portada_post {
    width: 100%;
    height: 30vw;
    max-height: 12rem;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 3rem;
    background-color: white;
}

.posts .post .content .body .postContent .media .portada_post .avatar_post {
    width: calc(6rem - 8px);
    height: calc(6rem - 8px);
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 1rem;
    bottom: -2.5rem;
    border: solid white 5px;
    background-color: white;
}

.posts .post .content .body .postContent .media .avatar_only_post {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.posts .post .content .body .postContent .media .avatar_only_post .sub_avatar_post {
    width: 10rem;
    height: 10rem;
    border-radius: 10em;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 6px solid white;
    background-color: black;
}

.posts .post .content .body .postContent .media .post {
	    max-width: calc(100% - 2rem);
    margin: auto;
	margin-bottom:0!important;
	box-shadow: none;
	border-radius:1em;
}

.posts .post .content .body .postContent .media .post .link {
    margin: 0;
    width: 100%;
}

.posts .post .content .body .postContent p, .posts .post .content .body .postContent .media img, .posts .post .content .body .postContent .media iframe, .posts .post .content .body .postContent .media video {
    width:100%;
    border:none;
  border-radius:1em;
}
  
.posts .post .content .body .postActions {
    color: #6d84b4;
    margin: 12px 0px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.posts .post .content .body .postActions .button {
    display: flex;
    flex: 1;
	text-align:center;
}
.posts .post .content .body .postActions .button:hover {
	border-radius:1em;
	background-color:#f9f7f7;
}

.posts .post.posttiporepost .content .body .postActions .button.share {
    display: none;
}

.posts .post.posttiporepost .content .post .content .body .postActions .button.share {
    display: block;
}

.posts .post .content .body .postActions a {
    color: #616770;
    font-size: 13px;
    font-weight: 900;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    font-family: Roboto, DumDarac Emojis, sans-serif;
	  margin:auto;
}
.posts .post .content .body .postActions a b {
	font-family: Roboto, DumDarac Emojis, sans-serif;
	font-weight:900;
}
.posts .post .bottom {
    margin: -12px;
    padding: 12px;
    border-top: 1px solid #ddd;
    border-radius: 0em 0em 1em 1em;
}
.posts .post .bottom .info {
	display:inline-flex;
	align-items:center;
	padding:0;
}

.posts .post .bottom .info .icons {
    margin-right: calc(0.5rem + 5px);
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
	z-index:1;
}

.posts .post .bottom .info .icon {
    background-size: 1.4rem;
    background-position: center;
    height: 1rem;
    min-width: 1rem;
    border-radius: 50px;
	  position:relative;
	  border: solid white 2px;
	  transition:0.5s;
	  margin-right:-5px;
	  background-repeat: no-repeat;
}

.posts .post .bottom .info .addit {
	font-family:Roboto;
}

.posts .post .bottom .info .addit a b {
	font-family:Roboto;
  font-weight:900;
}

.posts .post .bottom .info .icon.like {
	  background-image: url("//img.dumdarac.com/reactions/like.gif");
}

.posts .post .bottom .info .icon.likenot {
	  min-width:0;
	  width:0;
}

.posts .post .bottom .info .icon.love {
	  background-image: url("//img.dumdarac.com/reactions/love.gif");
}

.posts .post .bottom .info .icon.haha {
	  background-image: url("//img.dumdarac.com/reactions/haha.gif");
}

.posts .post .bottom .info .icon.wow {
	  background-image: url("//img.dumdarac.com/reactions/wow.gif");
}

.posts .post .bottom .info .icon.sad {
	  background-image: url("//img.dumdarac.com/reactions/sad.gif");
}

.posts .post .bottom .info .icon.angry {
	  background-image: url("//img.dumdarac.com/reactions/angry.gif");
}

.posts .post .bottom .info .icon.pride {
  background-image: url("//img.dumdarac.com/reactions/pride.png");
    background-size: contain!important;
    border-radius: 0!important;
}

.posts .post .bottom .info .icon.anarchist {
  background-image: url("//img.dumdarac.com/reactions/anarchist.png");
}

.posts .post .bottom .info .icon.catalunya {
  background-image: url("//img.dumdarac.com/reactions/catalunya.png");
    background-size: contain!important;
    border-radius: 0!important;
}

.posts .post .bottom .info .icon:nth-child(1){
	z-index:15;
}

.posts .post .bottom .info .icon:nth-child(2){
	z-index:14;
}

.posts .post .bottom .info .icon:nth-child(3){
	z-index:13;
}

.posts .post .bottom .info .icon:nth-child(4){
	z-index:12;
}

.posts .post .bottom .info .icon:nth-child(5){
	z-index:11;
}

.posts .post .bottom .info .icon:nth-child(6){
	z-index:10;
}

.posts .post .bottom .info .icon:nth-child(7){
	z-index:9;
}

.posts .post .bottom .info .icon:nth-child(8){
	z-index:8;
}

.posts .post .bottom .info .icon:nth-child(9){
	z-index:7;
}

.posts .post .bottom .info .icon:nth-child(10){
	z-index:6;
}

.posts .post .bottom .info .icon .list {
    display: none;
    position: absolute;
    left: -10px;
    bottom: 1rem;
    background: rgba(0, 0, 0, 0.76);
    width: 10rem;
    border-radius: 1em;
    z-index: 9;
    transition: 0.5s;
    color: white;
}

.posts .post .bottom .info .icon .list:before {
top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(113, 158, 206, 0);
    border-top-color: rgba(0, 0, 0, 0.75);
    border-width: 5px;
    left: 1.5rem;
    margin-left: -13px;
}

.posts .post .bottom .info .icon .list p {
	width:100%;
	padding:0.5rem;
	color:white;
	margin:0;
	transition:0.5s;
}

.posts .post .bottom .info .icon:hover .list {
	display:block;
}

.posts .post .bottom .comments .commentHelper {
  padding-bottom: 7px;
  padding-top: 9px;
  display:none;
}
.posts .post .bottom .comments .commentHelper .icon {
  margin-right: 6px;
  vertical-align: bottom;
}
.posts .post .bottom .comments ul.commentList li {
margin-top: 0.5rem;
    display: inline-flex;
	width:100%;
}
.posts .post .bottom .comments ul.commentList li .profPic {
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    display: block;
    background-color: white;
	  border:1px solid #dadce0;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
}
.posts .post .bottom .comments ul.commentList li .commentBody {
  margin-top: 0px;
  margin-left: 0.5rem;
  display: inline-block;
  vertical-align: middle;
    background-color: #ffffff;
    border-radius: 18px;
    display: block;
    line-height: 16px;
    padding: 9px 12px;
    word-break: break-word;
    border: solid 1px #ddd;
}
.posts .post .bottom .comments ul.commentList li .commentBody .message .from {
  font-size: 12px;
  font-weight: bold;
  display: inline;
}
.posts .post .bottom .comments ul.commentList li .commentBody .message .with {
  display: inline;
}
.posts .post .bottom .comments ul.commentList li .messageData {
  margin-top: 2px;
  color: #9197a3;
  vertical-align: top;
  display:inline-flex;
}
.posts .post .bottom .comments ul.commentList li .messageData a {
  vertical-align: top;
}
.posts .post .bottom .comments ul.commentList li .messageData .likes {
    vertical-align: top;
    display: inline-flex;
    align-items: center;
}
.posts .post .bottom .comments ul.commentList li .messageData .likes .icon {
    margin-left: 3px;
    margin-right: 3px;
    width: 1rem;
    height: 1rem;
    background-size: 1.5rem;
    border-radius: 50px;
}
.posts .post .bottom .comments ul.commentList li .commentActions {
  text-align: right;
  display: none;
}
.commentActions, .posts .post .bottom .comments ul.commentList li:hover .commentActions {
  display: block;
}
.posts .post .bottom .comments ul.commentList .addComment {
    margin-top: 0.7rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.posts .post .bottom .comments ul.commentList .addComment .profPic {
    min-width: 32px;
    height: 32px;
    display: block;
    background: white;
    background-position: center;
    background-size: cover;
	  border:1px solid #dadce0;
    border-radius: 2em;
    margin: auto;
}

.posts .post .bottom .comments ul.commentList .addComment .input {
    position: relative;
    margin: auto;
    margin-left: 0.5rem;
    display: inline-block;
    width: calc(100% - 42px);
    overflow: hidden;
    border: 1px solid #dadce0;
    border-radius: 20px;
    font-size: 12px;
    padding: 11px;
    background: white;
}

.posts .post .bottom .comments ul.commentList .addComment .input[placeholder]:empty:before {
	content: attr(placeholder);
	color: #555; 
	white-space:nowrap;
	font-size: 12px!important;
}

.posts .post .bottom .comments ul.commentList .addComment i {
    font-size: 1rem;
    padding: 0.5rem;
    background: #9E9E9E;
    color: white;
    border-radius: 2em;
    margin-left: 0.5rem;
	  cursor:pointer;
}

.posts .post .bottom .comments ul.commentList .addComment i.active {
	background: #607D8B;
}


/*KamikuPost*/

@keyframes flotandokmkp {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

.posts .post.kamikuPost .content .body .postContent p.bigtext {
	    position: relative;
    display: inline-block;
    margin: 2rem auto;
    padding: 0.5rem 1.5rem;
    background: white;
    border-radius: 10px;
    color: black;
    font-family: 'Product Sans', 'DumDarac Emojis', sans-serif;
    font-weight: 100;
    max-width: 100%;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    padding-top: 11px;
    font-size: 1rem;
    width: auto;
	animation: flotandokmkp 4s ease alternate infinite;
}

.posts .post.kamikuPost {
    background: linear-gradient(to bottom, #3F51B5, #009688 70%, #E91E63);
    color: white;
}

.posts .post.kamikuPost .content .body .postActions, .posts .post.kamikuPost .bottom {
	display:none;
}

.posts .post.kamikuPost, .posts .post.kamikuPost .content .body .postContent, .posts .post.kamikuPost .content {
	padding-bottom:0;
}


.posts .post.kamikuPost .content .body .postContent {
	margin-bottom:0;
}

.posts .post.kamikuPost .content .body .postContent .media {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    border: solid 4px white;
    max-width: 100%;
    margin-top: -1rem;
	animation: flotandokmkp 4s ease alternate infinite;
}

.posts .post.kamikuPost a.important, .posts .post.kamikuPost .content .head .topic .postData {
	color:white;
}

.posts .post.kamikuPost .content .head .profPic {
	background-size:1.8rem;
}

/*ASK*/

.posts .post.posttipoask {
	background: #673ab7;
}

.posts .post.posttipoask .content .head {
    background-color: white;
    border-radius: 0 0 2em 2em;
    margin-top: -12px;
    padding: 0.5rem;
    padding-right: 1rem;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
}

.posts .post.posttipoask .content .head a {
	color:#673ab7!important;
}

.posts .post.posttipoask .text {
    background: white;
    border-radius: 1em;
    padding: 1rem;
}

.posts .post.posttipoask .content .body .postContent .ask {
    padding: 0.5rem;
    color: white;
}

.posts .post.posttipoask .content .body .postContent .ask .pregunta {
    padding: 0.5rem;
    font-size: 1rem;
}

.posts .post.posttipoask .content .body .postContent .ask .respuesta {
	padding: 0.5rem;
    font-size: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.posts .post.posttipoask .content .body .postContent .ask .boton {
	padding: 0.5rem 1rem;
    color: #673ab7;
    background-color: white;
    border-radius: 2em;
    font-size: 14px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: -0.7rem;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.posts .post.posttipoask .content .body .postActions {
background-color: white;
    border-radius: 2em;
    padding: 0.2rem 0.5rem;
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

/*LOADING*/

.posts .post.loading img:before {
	width:100%;
	height:100%;
	background:rebeccapurple;
	content: " ";
}


/*PLACEHOLDER*/
.posts .post.placeholder, .posts .post.placeholder_update {
  height: 300px;
}
.posts .post.placeholder .shimmer, .posts .post.placeholder_update .shimmer {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(left #ddd, white, #ddd);
  background-image: -webkit-linear-gradient(left #ddd, white, #ddd);
  background-size: 800px 104px;
  position: relative;
  height: 104px;
}
.posts .post.placeholder .shimmer div, .posts .post.placeholder_update .shimmer div {
  background: #fff;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0px;
}
.posts .post.placeholder .shimmer div.a, .posts .post.placeholder_update .shimmer div.a {
  height: 40px;
  left: 40px;
  right: auto;
  top: 0;
  width: 8px;
}
.posts .post.placeholder .shimmer div.b, .posts .post.placeholder_update .shimmer div.b {
  height: 8px;
  left: 48px;
  top: 0;
}
.posts .post.placeholder .shimmer div.c, .posts .post.placeholder_update .shimmer div.c {
  left: 136px;
  top: 8px;
}
.posts .post.placeholder .shimmer div.d, .posts .post.placeholder_update .shimmer div.d {
  height: 12px;
  left: 48px;
  top: 14px;
}
.posts .post.placeholder .shimmer div.e, .posts .post.placeholder_update .shimmer div.e {
  left: 100px;
  top: 26px;
}
.posts .post.placeholder .shimmer div.f, .posts .post.placeholder_update .shimmer div.f {
  height: 10px;
  left: 48px;
  top: 32px;
}
.posts .post.placeholder .shimmer div.g, .posts .post.placeholder_update .shimmer div.g {
  height: 20px;
  top: 40px;
}
.posts .post.placeholder .shimmer div.h, .posts .post.placeholder_update .shimmer div.h {
  left: 410px;
  top: 60px;
}
.posts .post.placeholder .shimmer div.i, .posts .post.placeholder_update .shimmer div.i {
  height: 13px;
  top: 66px;
}
.posts .post.placeholder .shimmer div.j, .posts .post.placeholder_update .shimmer div.j {
  left: 440px;
  top: 79px;
}
.posts .post.placeholder .shimmer div.k, .posts .post.placeholder_update .shimmer div.k {
  height: 13px;
  top: 85px;
}
.posts .post.placeholder .shimmer div.l, .posts .post.placeholder_update .shimmer div.l {
  left: 178px;
  top: 98px;
}
.posts .post.viaAction {
  display: none;
}



/*LIKE*/

.posts .post .Like {
  position: relative;
  display: inline-block;
	margin:auto;
}

.posts .post .Like__link {
  cursor: pointer;
}

.posts .post .Like__link .icon {
    background-size: 18px;
    border-radius: 50px;
    margin: auto;
	  transition:0.5s;
	width: 18px;
    height: 18px;
    margin: 0 6px 0px 0;
	background-repeat:no-repeat;
	background-position:center;
}

.posts .post .Like__link span {
  font-weight:900;
  white-space:nowrap;
}

.posts .post .Like__link .icon.icon--likenot {
    background-image: url('//img.dumdarac.com/reactions/all.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -190px;
    width: 18px;
    height: 18px;
    border-radius: 0;
    margin: 0 6px 0px 0;
}

.posts .post .Like__link .icon.icon--share {
background-image: url('//img.dumdarac.com/reactions/all.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -361px;
    border-radius: 0;
}

.posts .post .Like__link .icon.icon--comment {
background-image: url('//img.dumdarac.com/reactions/all.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -114px;
    width: 18px;
    height: 18px;
    border-radius: 0;
    margin: 0 6px 0px 0;
}

.posts .post .Like__link .icon.icon--repost {
	  background-image: url("//img.dumdarac.com/reactions/repost.png");
}

.posts .post .Like__link .icon.icon--stadistics {
	  background-image: url("//img.dumdarac.com/reactions/stadistics.png");
}

@keyframes likeicon {
    0% {}
	  50% {transform:translateY(-0.5rem) translateX(-0.5rem) rotate(-17deg) scale(1.4);}
	  55% {transform:translateY(-0.5rem) translateX(-0.5rem) rotate(1deg) scale(1.5);}
	  100% {}
}

.posts .post .reactions {
position: absolute;
    left: 0;
    bottom: 120%;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .125rem;
    border-radius: 100rem;
    -webkit-transition: .3s .3s;
    transition: .3s .3s;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    background: white;
    margin: 0 0.5rem;
}
.posts .post .reactions:hover, .Like__link.js-hover ~ .reactions, .Like__link:hover ~ .reactions {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
  visibility: visible;
}

.posts .post .reaction {
  position: relative;
  width: 3rem;
  height: 3rem;
  color: #ffd972;
  cursor: pointer;
  -webkit-transition-delay: .6s, .3s;
          transition-delay: .6s, .3s;
  -webkit-transition-duration: 0s, .3s;
          transition-duration: 0s, .3s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0) scale(0.3);
          transform: translate3d(0, 100%, 0) scale(0.3);
}
.reactions:hover .reaction, .Like__link.js-hover + .reactions .reaction, .Like__link:hover + .reactions .reaction {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.posts .post .reaction .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
	background-size:3.5rem;
	background-position:center;
	background-repeat:no-repeat;
}
.posts .post .reaction:hover .icon {
  -webkit-transform: scale(1) translate3d(0, -10%, 0);
          transform: scale(1) translate3d(0, -10%, 0);
}
.posts .post .reactions:hover .reaction:nth-of-type(1), .Like__link:hover + .reactions .reaction:nth-of-type(1) {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1);
}
.posts .post .reactions:hover .reaction:nth-of-type(2), .Like__link:hover + .reactions .reaction:nth-of-type(2) {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0.02s;
          transition-delay: 0.02s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1.2);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1.2);
}
.posts .post .reactions:hover .reaction:nth-of-type(3), .Like__link:hover + .reactions .reaction:nth-of-type(3) {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-delay: 0.04s;
          transition-delay: 0.04s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1.4);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1.4);
}
.posts .post .reactions:hover .reaction:nth-of-type(4), .Like__link:hover + .reactions .reaction:nth-of-type(4) {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1.6);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1.6);
}
.posts .post .reactions:hover .reaction:nth-of-type(5), .Like__link:hover + .reactions .reaction:nth-of-type(5) {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1.8);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 1.8);
}
.posts .post .reactions:hover .reaction:nth-of-type(6), .Like__link:hover + .reactions .reaction:nth-of-type(6) {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 2);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 2);
}
.posts .post .reactions:hover .reaction:nth-of-type(7), .Like__link:hover + .reactions .reaction:nth-of-type(7) {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 2.2);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 2.2);
}
.posts .post .reactions:hover .reaction:nth-of-type(8), .Like__link:hover + .reactions .reaction:nth-of-type(8) {
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 2.4);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 2.4);
}
.posts .post .reactions:hover .reaction:nth-of-type(9), .Like__link:hover + .reactions .reaction:nth-of-type(9) {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 2.6);
          transition-timing-function: cubic-bezier(0.6, 0.6, 0.5, 2.6);
}

.posts .post .reaction span {
    position: absolute;
    bottom: 3.2rem;
    left: 1rem;
    right: 0;
    background: rgba(0, 0, 0, 0.68);
    padding: 0.5rem;
    border-radius: 50px 50px 50px 20px;
    font-weight: 900;
    color: white;
    opacity: 0;
    white-space: nowrap;
    margin: auto;
    transition: 0.5s;
    font-size: 0;
    display: inline-table;
    z-index: -1;
    transform: rotate(-10deg);
}

.posts .post .reaction:hover span {
	opacity:9;
	font-size:0.8rem;
	transform: rotate(7deg);
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.posts .post .icon--like {
  background-image: url("//img.dumdarac.com/reactions/like.gif");
	background-size: 5rem;
}

.posts .post .reaction--like span {
    background: #6586c3;
}

.posts .post .icon--love {
  background-image: url("//img.dumdarac.com/reactions/love.gif");
	background-size: 5rem;
}

.posts .post .reaction--love span {
    background: #ef5368;
}

.posts .post .icon--haha {
  background-image: url("//img.dumdarac.com/reactions/haha.gif");
}

.posts .post .reaction--haha span {
  background: #263238;
}

.posts .post .icon--wow {
  background-image: url("//img.dumdarac.com/reactions/wow.gif");
}

.posts .post .reaction--wow span {
  background: #263238;
}

.posts .post .icon--sad {
  background-image: url("//img.dumdarac.com/reactions/sad.gif");
}

.posts .post .reaction--sad span {
  background: #263238;
}

.posts .post .icon--angry {
  background-image: url("//img.dumdarac.com/reactions/angry.gif");
}

.posts .post .reaction--angry span {
    background: #e3273c;
}

.posts .post .icon--pride {
  background-image: url("//img.dumdarac.com/reactions/pride.png");
    background-size: contain!important;
    border-radius: 0!important;
}

.posts .post .reaction--pride span {
  background: #4CAF50;
}

.posts .post .icon--anarchist {
  background-image: url("//img.dumdarac.com/reactions/anarchist.png");
    background-size: contain!important;
    border-radius: 0!important;
}

.posts .post .reaction--anarchist span {
  background: black;
}

.posts .post .icon--catalunya {
  background-image: url("//img.dumdarac.com/reactions/catalunya.png");
    background-size: contain!important;
    border-radius: 0!important;
}

.posts .post .reaction--catalunya span {
  background: black;
}

.posts .advertenciapost {
    padding: 0.5rem;
    border-radius: 1em;
    font-size: 1rem;
    background: #ffffff;
    display: inline-table;
    width: 100%;
    margin-bottom: -0.5rem;
}

.posts .advertenciapost p {
    padding: 1rem;
    font-family: Product Sans;
    padding-bottom: 0.8rem;
    font-weight: 100;
    border-radius: 1em;
    background-color: white;
    border: solid 1px #ddd;
    color: black;
    margin-left: 3rem;
    position: relative;
    animation: float 5s ease-in-out infinite;
    transform: translatey(2.5px);
    display: inline-block;
}

.posts .advertenciapost p:before {
    content: " ";
    background-image: url(//usuario.dumdarac.com/avatares/518/kamikumini.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -4rem;
    border: 4.5rem;
    height: 2.5rem;
    width: 4rem;
    position: absolute;
    bottom: 0.5rem;
	  animation: float 6s ease-in-out infinite;
	  transform: translatey(2.5px);
}

.posts .advertenciapost hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
    padding: 0;
    margin-bottom: 0;
}

@keyframes float {
	0% {
		transform: translatey(2.5px);
	}
	50% {
		transform: translatey(-2.5px);
	}
	100% {
		transform: translatey(2.5px);
	}
}

.posts .advertenciapost a {
    border: solid 1px #ddd;
    padding: 0.5rem 1rem;
    border-radius: 1em;
    font-size: 1rem;
    background-color: white;
    display: inline-block;
    max-width: 100%;
    margin: 0.5rem;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 1rem;
}

/*UPDATE POSTS*/

.posts .update_posts {
  display:none;
}

/*SMART CARDS*/
.posts .post.smart-card {
    padding: 0.5rem;
    width: 100%;
	  transition:1s;
	color:black;
	position:relative;
	overflow:hidden;
}

.posts .post.smart-card.with-logo::after {
	content: ' ';
	background-image:url('//img.dumdarac.com/logo/logo_white.png');
	position:absolute;
	top:0.5rem;
	left:0.5rem;
	padding:1rem;
	background-size:contain;
	cursor:pointer;
}

.posts .post.smart-card .titulo {
    font-size: 1rem;
    padding: 0.5rem;
}

.posts .post.smart-card .cards {
    display: inline-flex;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.posts .post.smart-card .cards::-webkit-scrollbar {
    display: none!important;
}

.posts .post.smart-card .cards .card {
    font-size: 1rem;
    background: #fff;
    min-width: 9.6rem;
    margin: 0.2rem;
    border-radius: 1em;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	overflow:hidden;
}

.posts .post.smart-card .cards .card .imagen {
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
	  background-color:#263238;
}

.posts .post.smart-card .cards .card .info {
	padding:0.5rem;
}

.posts .post.smart-card .cards .card .info h1 {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9rem;
    font-weight: 100;
    padding: 0.5rem;
}

.posts .post.smart-card .cards .card .imagen .mini {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0));
    color: white;
    padding: 0.5rem;
    width: 100%;
	  display:inline-flex;
	  align-items:center;
	  font-size:1rem;
}

.posts .post.smart-card .cards .card .imagen .mini p {
	padding-left:0.5rem;
	color:white;
}

.posts .post.smart-card .cards .card .imagen .mini img {
	max-height:1.5rem;
	max-width:3rem;
}

.posts .post.smart-card .cards .card .info a.boton {
    background: #f3f3f3;
    width: calc(100% - 1rem);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #f6f7f9;
    color: #4b4f56;
    border: 1px solid;
    border-radius: 1em;
    box-sizing: content-box;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    line-height: 22px;
    letter-spacing: inherit;
    border-color: #ced0d4;
}

/*EXPLOREFEED*/
.posts .post.smart-card.explorefeed {
    padding-top: 12rem;
    background-image: url(//img.dumdarac.com/smart-card/explorefeed.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    text-align: center;
}

.posts .post.smart-card.explorefeed button {
    padding: 0.5rem 1rem;
    background: #fe7431;
    color: white;
    border: none;
    border-radius: 2em;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    margin: auto;
    font-weight: 900;
}

/*EXPLORAYDISFRUTA*/
.posts .post.smart-card.exploraydisfruta {
    padding-top: 11rem;
    background-image: url(//img.dumdarac.com/smart-card/exploraydisfruta.png?w=400);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    text-align: center;
    background-color: #2869d3;
}

.posts .post.smart-card.exploraydisfruta .bloque {
    border-radius: 5em;
    background: rgb(92, 140, 219);
    display: inline-block;
    padding: 1rem 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.posts .post.smart-card.exploraydisfruta .bloque h1 {
    margin: auto;
    font-size: 1.5rem;
    
}

.posts .post.smart-card.exploraydisfruta .bloque p {
    margin: auto;
    font-size: 1rem;
    
	font-weight:100;
}

.posts .post.smart-card.exploraydisfruta img {
    width: 5rem;
    height: 5rem;
    margin-top: -9rem;
    margin-bottom: 0.5rem;
    border-radius: 5em;
  display:none;
}

.posts .post.smart-card.exploraydisfruta .post.smart-card {
	border:none;
	background-color:transparent;
	margin-bottom:0;
}

.posts .post.smart-card.exploraydisfruta .post.smart-card .titulo {
	color: #204984;
}

/*FELIZNAVIDAD*/
.posts .post.smart-card.feliznavidad {
    padding:0;
	width:100%;
}

.posts .post.smart-card.feliznavidad h1 {
    padding:1rem;
	width:100%;
}

.posts .post.smart-card.feliznavidad .bottomc {
	display:inline-flex;
	align-items:center;
	width:100%;
}

.posts .post.smart-card.feliznavidad button.normal {
    padding: 0.5rem 1rem;
    background: #e91e63;
    color: white;
    border: none;
    border-radius: 2em;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.posts .post.smart-card.feliznavidad button.absolutesuperior {
padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    border: none;
    border-radius: 2em;
    font-size: 14px;
    margin: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

/*CUMPLEANOS*/
.posts .post.smart-card.cumpleanos {
    padding-top: 10rem;
    background-image: url(//img.dumdarac.com/smart-card/cumpleanos.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.posts .post.smart-card.cumpleanos h1 {
    padding: 0.5rem;
    font-size: 2rem;
    font-family: Product Sans;
    font-weight: 100;
}

.posts .post.smart-card.cumpleanos button {
    padding: 0.5rem 1rem;
    background: rebeccapurple;
    color: white;
    border: none;
    border-radius: 2em;
    font-size: 1rem;
    margin: 0.5rem;
	  cursor:pointer;
}

/*NEWYEAR*/
.posts .post.smart-card.newyear {
    padding-top: 12.5rem;
    background-image: url(//img.dumdarac.com/smart-card/newyear.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.posts .post.smart-card.newyear h1 {
    padding: 0.5rem;
    font-size: 2rem;
    font-family: Product Sans;
    font-weight: 100;
}

.posts .post.smart-card.newyear button {
    padding: 0.5rem 1rem;
    background: rebeccapurple;
    color: white;
    border: none;
    border-radius: 2em;
    font-size: 1rem;
    margin: 0.5rem;
	  cursor:pointer;
}

/*SANTJORDI*/
.posts .post.smart-card.santjordi {
    padding-top: 15rem;
    background-image: url(//img.dumdarac.com/smart-card/santjordi.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.posts .post.smart-card.santjordi h1 {
    padding: 0.5rem;
    font-size: 2rem;
    font-family: Product Sans;
    font-weight: 100;
}

.posts .post.smart-card.santjordi button {
    padding: 0.5rem 1rem;
    background: rebeccapurple;
    color: white;
    border: none;
    border-radius: 2em;
    font-size: 1rem;
    margin: 0.5rem;
	  cursor:pointer;
}


/*BUENOS DIAS*/
.posts .post.smart-card.buenosdias, .posts .post.smart-card.buenastardes, .posts .post.smart-card.buenasnoches {
	width:100%;
	padding:1rem;
	background-position:center right 1rem;
  background-size:3rem;
	background-repeat:no-repeat;
}

.posts .post.smart-card.buenosdias {
	background-image:url('//img.dumdarac.com/smart-card/buenosdias.gif');
}

.posts .post.smart-card.buenastardes {
	background-image:url('//img.dumdarac.com/smart-card/buenastardes.gif');
}

.posts .post.smart-card.buenasnoches {
	background-image:url('//img.dumdarac.com/smart-card/buenasnoches.gif');
}

.posts .post.smart-card.buenosdias h1, .posts .post.smart-card.buenastardes h1, .posts .post.smart-card.buenasnoches h1 {
	font-size:1.2rem;
}

/*EXPLORAFEED*/

.posts .post.smart-card.explorahashtags {
	padding:0;
	width:100%;
}

.posts .post.smart-card.explorahashtags .titulo {
    padding: 1rem;
	  padding-bottom:0rem;
    color: black;
}

.posts .post.smart-card.explorahashtags .hashtags {
    column-count: 2;
    column-gap: 0;
    display: block;
    border-bottom: none;
    overflow: hidden;
    background: white;
    padding: 10px;
}

.posts .post.smart-card.explorahashtags .hashtags .hashtag {
    text-align: center;
    padding: 0.5rem;
    display: inline-block;
    width: calc(100% - 1rem);
    font-size: 1rem;
    color: black;
    border: solid 1px #ddd;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 2em;
    margin: 0.5rem;
    font-weight: 900;
}

/*NOTICIAS*/
.posts .post.smart-card.noticias .cards .card {
    min-height: 9.5rem;
	min-width:16rem;
}

.posts .post.smart-card.noticias .cards .card .imagen {
	padding-bottom:calc(100% - 8rem);
}

.posts .post.smart-card.noticias .cards .card .imagen .mini {
	background:white;
}

.posts .post.smart-card.noticias .cards .card .imagen .mini p {
    color: black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts .post.smart-card.noticias .cards .card .imagen .mini .fuenteinfo {
	display:inline-flex;
	align-items:center;
	margin:auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin-left:0;
}

.posts .post.smart-card.noticias .cards .card .imagen .mini .follow-button {
	margin-right:0;
}

.posts .post.smart-card.noticias .cards .card .info {
    padding: 0.8rem;
      border-top: solid 1px #ddd;
}

.posts .post.smart-card.noticias .cards .card .info h1 {
  font-size: 0.9rem;
    width: calc(100% - 1rem);
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.4rem;
    white-space: inherit;
    margin: 0;
    min-height: 4rem;
    
    font-weight: 900;
}
