#feed {
	padding-top:0.5rem;
	padding-bottom:0.5rem;
  position: relative;
  width: 100%;
	max-width:500px;
  margin: 0 auto;
  /*display: table;*/
}
#feed .item {
    position: relative;
    width: 100%;
    margin: 0.5rem auto;
    display: inline-block;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 1px #e6e6e6;
    text-align: left;
}
#feed .item .headerpublicacion-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip: rect(0, auto, auto, 0);
}
#feed .item .headerpublicacion {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background: #fff;
    z-index: 1;
    display: inline-flex;
    vertical-align: middle;
}

#feed .item .headerpublicacion i {
	padding:0.5rem;
	margin:auto;
}
	
	#feed .item .headerpublicacion.fijo {
		box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
	}
	
#feed .item .headerpublicacion .avatar {
    cursor: pointer;
    float: left;
    min-width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 99em;
    background: #32a0f5;
    background: -webkit-linear-gradient(top, #E91E63, #2196F3);
    background-size: cover;
    background-position: center;
}
#feed .item .headerpublicacion .username {
	  cursor: pointer;
    float: left;
    width: calc(100% - 1rem);
    height: auto;
    margin: 0.5rem;
    border-radius: 3px;
    /* background: #e6e6e6; */
    display: inline-flex;
    align-items: center;
}
#feed .item .content-post {
    position: relative;
    width: 100%;
    height: auto;
    margin: 3rem auto 0;
    background: white;
}
#feed .item .content-post .text {
	padding:1rem;
	padding-bottom:0.5rem;
	font-size:0.8rem;
	word-break: break-word;
	width: calc(100% - 2rem);
}
#feed .item .content-post .text.textogrande {
	font-size:1.5rem;
}
#feed .item .content-post .media {
    position: relative;
    width: 100%;
    height: auto;
	  margin:0;
    margin-top: 0.5rem;
    background: #2196F3;
	  background:-webkit-linear-gradient(top, #E91E63, #2196F3);
}
#feed .item .content-post .media img {
    position: relative;
    width: 100%;
    height: auto;
	  margin:0;
	  background:white;
}
#feed .item .content {
  position: relative;
  padding: 0;
  display: table;
	width:100%;
}
#feed .item .content .likes {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #9E9E9E;
	  margin: 0.5rem;
}
#feed .item .content .comments li {
    margin: 00;
    display: inline-flex;
    align-items: flex-start;
    padding: 0.5rem;
    width: calc(100% - 1rem);
}
#feed .item .content .comments li .avatar {
    min-width: 2rem;
    height: 2rem;
    background: #2196F3;
	  background: -webkit-linear-gradient(top, #E91E63, #2196F3);
    border-radius: 50px;
    margin: 0.5rem;
	  background-size:cover;
	  background-position:center;
}
#feed .item .content .comments li .name {
    cursor: pointer;
    max-width: 100%;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 0.9rem;
}
#feed .item .content .comments li .comment {
    width: 250px;
    max-width: 100%;
    border-radius: 3px;
    font-size: 0.7rem;
}
#feed .item.loading .headerpublicacion .username {
    cursor: pointer;
    float: left;
    width: 10rem;
    height: 10px;
    margin: auto 0.5rem;
    border-radius: 3px;
    background: #9E9E9E;
    display: inline-flex;
    align-items: center;
}
#feed .item.loading .content .likes {
  cursor: pointer;
  width: 50px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background: #32a0f5;
	margin:0.5rem;
}
#feed .item.loading .headerpublicacion .avatar {
	background: -webkit-linear-gradient(top, #E91E63, #2196F3);
	-webkit-animation: hue 5s infinite linear;
}
#feed .item.loading .content .comments li {
    margin: 00;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    width: calc(100% - 1rem);
}
#feed .item.loading .content .comments li .avatar {
    min-width: 2rem;
    height: 2rem;
    background: #2196F3;
	  background: -webkit-linear-gradient(top, #E91E63, #2196F3);
    border-radius: 50px;
    margin: 0.5rem;
	  -webkit-animation: hue 5s infinite linear;
}

#feed .item.loading .content .comments li .name {
  cursor: pointer;
  width: 75px;
  height: 10px;
  max-width: 100%;
  margin-right: 5px;
  border-radius: 3px;
  background: #32a0f5;
	background: -webkit-linear-gradient(top, #E91E63, #2196F3);
	-webkit-animation: hue 5s infinite linear;
}
#feed .item.loading .content .comments li .comment {
    width: 250px;
    height: 10px;
    max-width: 100%;
    border-radius: 3px;
    background: #e6e6e6;
    margin-top: 4px;
}

#feed .item .content .comments li.nuevocomentarioform {
	display:none;
}

#feed .item .content .comments li .info {
	padding:0.5rem;
}

#feed .item .content .comments li form {
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
	  border-top: solid #eee 1px;
}

#feed .item .content .comments li form textarea {
    border: none;
    width: 100%;
	  max-width:100%;
    padding: 0.5rem;
    vertical-align: middle;
    margin: 0.5rem;
	  resize:none;
    border-radius: 5px;
    border: solid #eee 1px;
    background: #fdfdfd;
}

#feed .item .content .comments li form i {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    background: #eee;
    color: #9E9E9E;
    border-radius: 50px;
    font-size: 1rem;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}





#feed .item.loading .content-post .media {
	-webkit-animation: hue 5s infinite linear;
}

#feed .item .content-post .media img {
    width: 100%;
}
	
#feed .item .content-post .media video {
    width: 100%;
}

#feed .item .content-post iframe {
	margin-top:0.5rem;
	width:100%;
	height:18rem;
	border:none;
	display:inline-block;
}

#feed .item .content .botones {
	padding:0;
	display:inline-flex;
	align-items:center;
	width:100%;
	overflow:hidden;
}

#feed .item .content .botones button {
	  padding: 0.5rem;
    border: none;
    border-radius: 2px;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    background: transparent;
    font-size: 1rem;
    color: #aab8c2;
	  transition:0.5s;
	  cursor:pointer;
}

#feed .item .content .botones button:hover {
	background:#F5F5F5;
}

#feed .item .content .botones button i {
	font-size:1.2rem;
}

#feed .item .content .botones button p {
	padding-right: 0.5rem;
	display:none;
}






#feed .item.smart-card {
    padding: 0.5rem;
    width: calc(100% - 1rem);
	  transition:1s;
}

#feed .item.smart-card .titulo {
    font-size: 1rem;
    padding: 0.5rem;
}

#feed .item.smart-card .cards {
    display: inline-flex;
    align-items: center;
    width: 100%;
    overflow: auto;
}

#feed .item.smart-card .cards::-webkit-scrollbar {
    display: none!important;
}

#feed .item.smart-card .cards .card {
    font-size: 1rem;
    background: #fff;
    min-width: 10rem;
    margin: 0.2rem;
    border-radius: 2px;
}

#feed .item.smart-card .cards .card .imagen {
    width: 100%;
    height: 10rem;
    background-position: center;
    background-size: cover;
	  background-color:#263238;
}

#feed .item.smart-card .cards .card .info {
	padding:0.5rem;
}

#feed .item.smart-card .cards .card .info h1 {
    font-size: 1rem;
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin: 0 auto;
	font-weight:900;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

#feed .item.smart-card .cards .card .imagen .mini {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0));
    color: white;
    padding: 0.5rem;
    width: calc(100% - 1rem);
	  display:inline-flex;
	  align-items:center;
	  font-size:1rem;
}

#feed .item.smart-card .cards .card .imagen .mini p {
	padding-left:0.5rem;
}

#feed .item.smart-card .cards .card .imagen .mini img {
	max-height:1.5rem;
	max-width:3rem;
}

#feed .item.smart-card .cards .card .info a.boton {
    font-size: 1rem;
    background: #f3f3f3;
    width: calc(100% - 1rem);
    padding: 0.5rem;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
}

/*NOTICIAS*/
#feed .item.smart-card.noticias .cards .card {
    min-height: 9.5rem;
}

#feed .item.smart-card.noticias .cards .card .info {
    padding-bottom: 0.2rem;
}

#feed .item.smart-card.noticias .cards .card .info h1 {
    font-size: 0.9rem;
    width: calc(100% - 1rem);
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.4rem;
    white-space: inherit;
    margin: 0;
    min-height: 2.6rem;
}



#feed .item .heart {
display: block;
    margin: 0;
    width: 50px;
    height: 50px;
    background-image: url(//img.dumdarac.com/otros/likeheart.png);
    background-size: 2900%;
    cursor: pointer;
}
#feed .item .heart:hover, #feed .item .heart.selected {
    background-position:right;
  }
#feed .item .animateheart {
	animation-iteration-count: 1;
  animation:heart-burst .8s;
  animation-timing-function:steps(28);
}
#feed .item .animate-reverse {
	animation-direction:reverse;
	animation-iteration-count: 1;
	animation-timing-function:steps(28);
  animation-name: heart-burst-reverse .8s;
}
@keyframes heart-burst {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}

@keyframes heart-burst-reverse {
    0% {
        background-position: right
    }

    100% {
        background-position: left
    }
}

