.feed-multisource .smart-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    overflow: hidden;
    max-width: calc(100vw - 1rem);
    margin: auto;
    margin-bottom: .5em;
}

.feed-multisource .smart-card>.cover {
	width: 100%;
	height: 10em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.feed-multisource .smart-card>.cover.contain {
	background-size: contain;
}

.feed-multisource .smart-card>.head {
	padding: 1rem;
	text-align: center;
}

.feed-multisource .smart-card>.cover+.head {
	padding-top: 0;
}

.feed-multisource .smart-card>.head>h1 {
	padding: .5rem;
	padding-bottom: 0;
	font-size: 2rem;
}

.feed-multisource .smart-card>.head>h1+p {
	padding-top: .5rem;
}

.feed-multisource .smart-card>.head>p {
	padding: .5rem;
	font-size: 1.2rem;
}

.feed-multisource .smart-card>.content {
	padding: .5em;
}








.feed-multisource .smart-card.weather-card {
  width: 100%;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.feed-multisource .smart-card.weather-card>.title {
  padding: .5em;
  width: 100%;
  border-bottom: 1px solid #dadce0;
}

.feed-multisource .smart-card.weather-card>.title>h1 {
    font-size: 17px;
    font-weight: 500;
}

.feed-multisource .smart-card.weather-card>.content {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.feed-multisource .smart-card.weather-card>.content>.top {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    padding: 8px 12px 12px 16px;
}

.feed-multisource .smart-card.weather-card>.content>.top>.data {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}

.feed-multisource .smart-card.weather-card>.content>.top>.data>span {
    font-size: 1rem;
    
    font-weight: 500;
}

.feed-multisource .smart-card.weather-card>.content>.top>.data>h1 {
    font-size: 3rem;
    
    font-weight: 400;
}

.feed-multisource .smart-card.weather-card>.content>.top>.data>h1>span {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 2px;
}

.feed-multisource .smart-card.weather-card>.content>.top>.icon {
    -webkit-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    text-align: right;
    width: 84px;
    height: 84px;
    font-size: 0;
    background-size: contain;
    background-position: center;
}

.feed-multisource .smart-card.weather-card>.content>.down {
    padding: 0 .8rem;
    padding-bottom: 1rem;
}

.feed-multisource .smart-card.weather-card>.content>.down>.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.feed-multisource .smart-card.weather-card>.content>.down>.container>.block {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
}

.feed-multisource .smart-card.weather-card>.content>.down>.container>.block>div>span {
    display: block;
    font-size: 1rem;
    
    font-weight: 500;
}

.feed-multisource .smart-card.weather-card>.content>.down>.container>.block>div>.icon {
    width: 52px;
    max-width: 100%;
    height: 52px;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
}

.feed-multisource .smart-card.weather-card>.content>.down>.container>.block>div>.maxmin {
font-size: 0.8rem;
    text-align: center;
    
    display: flex;
    flex-direction: column;
}

.feed-multisource .smart-card.weather-card>.content>.down>.container>.block>div>.maxmin>.max {
    font-weight: 500;
    padding-bottom: .2rem;
}

.feed-multisource .smart-card.weather-card>.content>.down>.container>.block>div>.maxmin>.min {
    opacity: .9;
}

.feed-multisource .smart-card.weather-card>.content>.down>.container>.block>div>.maxmin>*>span {
    text-align: center;
    
    font-weight: 500;
}